<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @order.submitted %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @order.last_update %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @order.memo %>
</p>

<p>
  <strong>Shipping fname:</strong>
  <%= @order.shipping_fname %>
</p>

<p>
  <strong>Shipping lname:</strong>
  <%= @order.shipping_lname %>
</p>

<p>
  <strong>Shipping org:</strong>
  <%= @order.shipping_org %>
</p>

<p>
  <strong>Shipping address1:</strong>
  <%= @order.shipping_address1 %>
</p>

<p>
  <strong>Shipping address2:</strong>
  <%= @order.shipping_address2 %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @order.shipping_city %>
</p>

<p>
  <strong>Shipping postal code:</strong>
  <%= @order.shipping_postal_code %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @order.shipping_country %>
</p>

<p>
  <strong>Shipping phone:</strong>
  <%= @order.shipping_phone %>
</p>

<p>
  <strong>Shipping email:</strong>
  <%= @order.shipping_email %>
</p>

<p>
  <strong>Payment fname:</strong>
  <%= @order.payment_fname %>
</p>

<p>
  <strong>Payment lname:</strong>
  <%= @order.payment_lname %>
</p>

<p>
  <strong>Payment org:</strong>
  <%= @order.payment_org %>
</p>

<p>
  <strong>Payment address1:</strong>
  <%= @order.payment_address1 %>
</p>

<p>
  <strong>Payment address2:</strong>
  <%= @order.payment_address2 %>
</p>

<p>
  <strong>Payment city:</strong>
  <%= @order.payment_city %>
</p>

<p>
  <strong>Payment postal code:</strong>
  <%= @order.payment_postal_code %>
</p>

<p>
  <strong>Payment country:</strong>
  <%= @order.payment_country %>
</p>

<p>
  <strong>Payment phone:</strong>
  <%= @order.payment_phone %>
</p>

<p>
  <strong>Payment email:</strong>
  <%= @order.payment_email %>
</p>

<p>
  <strong>Shipping method:</strong>
  <%= @order.shipping_method %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @order.shipping_cost %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @order.shipping_cost %>
</p>

<p>
  <strong>Patron netid:</strong>
  <%= @order.patron_netid %>
</p>

<p>
  <strong>Patron aeonid:</strong>
  <%= @order.patron_aeonid %>
</p>

<p>
  <strong>Gateway confirm num:</strong>
  <%= @order.gateway_confirm_num %>
</p>

<p>
  <strong>Agree to terms:</strong>
  <%= @order.agree_to_terms %>
</p>

<p>
  <strong>Amt paid:</strong>
  <%= @order.amt_paid %>
</p>

<p>
  <strong>Amt paid:</strong>
  <%= @order.amt_paid %>
</p>

<p>
  <strong>Amt due:</strong>
  <%= @order.amt_due %>
</p>

<p>
  <strong>Amt due:</strong>
  <%= @order.amt_due %>
</p>

<p>
  <strong>Discount percent:</strong>
  <%= @order.discount_percent %>
</p>

<p>
  <strong>Patron ip address:</strong>
  <%= @order.patron_ip_address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @order.staff %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
