<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @permission.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @permission.price %>
</p>

<p>
  <strong>Fund code:</strong>
  <%= @permission.fund_code %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
