<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @order_history.id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_history.order %>
</p>

<p>
  <strong>Submitted:</strong>
  <%= @order_history.submitted %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @order_history.last_update %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @order_history.memo %>
</p>

<p>
  <strong>Shipping fname:</strong>
  <%= @order_history.shipping_fname %>
</p>

<p>
  <strong>Shipping lname:</strong>
  <%= @order_history.shipping_lname %>
</p>

<p>
  <strong>Shipping org:</strong>
  <%= @order_history.shipping_org %>
</p>

<p>
  <strong>Shipping address1:</strong>
  <%= @order_history.shipping_address1 %>
</p>

<p>
  <strong>Shipping address2:</strong>
  <%= @order_history.shipping_address2 %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @order_history.shipping_city %>
</p>

<p>
  <strong>Shipping postal code:</strong>
  <%= @order_history.shipping_postal_code %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @order_history.shipping_country %>
</p>

<p>
  <strong>Shipping phone:</strong>
  <%= @order_history.shipping_phone %>
</p>

<p>
  <strong>Shipping email:</strong>
  <%= @order_history.shipping_email %>
</p>

<p>
  <strong>Payment fname:</strong>
  <%= @order_history.payment_fname %>
</p>

<p>
  <strong>Payment lname:</strong>
  <%= @order_history.payment_lname %>
</p>

<p>
  <strong>Payment org:</strong>
  <%= @order_history.payment_org %>
</p>

<p>
  <strong>Payment address1:</strong>
  <%= @order_history.payment_address1 %>
</p>

<p>
  <strong>Payment address2:</strong>
  <%= @order_history.payment_address2 %>
</p>

<p>
  <strong>Payment city:</strong>
  <%= @order_history.payment_city %>
</p>

<p>
  <strong>Payment postal code:</strong>
  <%= @order_history.payment_postal_code %>
</p>

<p>
  <strong>Payment country:</strong>
  <%= @order_history.payment_country %>
</p>

<p>
  <strong>Payment phone:</strong>
  <%= @order_history.payment_phone %>
</p>

<p>
  <strong>Payment email:</strong>
  <%= @order_history.payment_email %>
</p>

<p>
  <strong>Shipping method:</strong>
  <%= @order_history.shipping_method %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @order_history.shipping_cost %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @order_history.shipping_cost %>
</p>

<p>
  <strong>Patron netid:</strong>
  <%= @order_history.patron_netid %>
</p>

<p>
  <strong>Patron aeonid:</strong>
  <%= @order_history.patron_aeonid %>
</p>

<p>
  <strong>Gateway confirm num:</strong>
  <%= @order_history.gateway_confirm_num %>
</p>

<p>
  <strong>Agree to terms:</strong>
  <%= @order_history.agree_to_terms %>
</p>

<p>
  <strong>Amt paid:</strong>
  <%= @order_history.amt_paid %>
</p>

<p>
  <strong>Amt paid:</strong>
  <%= @order_history.amt_paid %>
</p>

<p>
  <strong>Amt due:</strong>
  <%= @order_history.amt_due %>
</p>

<p>
  <strong>Amt due:</strong>
  <%= @order_history.amt_due %>
</p>

<p>
  <strong>Discount percent:</strong>
  <%= @order_history.discount_percent %>
</p>

<p>
  <strong>Patron ip address:</strong>
  <%= @order_history.patron_ip_address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_history.status %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @order_history.staff %>
</p>

<%= link_to 'Edit', edit_order_history_path(@order_history) %> |
<%= link_to 'Back', order_histories_path %>
